/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
       url('../fonts/poppins-v20-latin-regular.woff') format('woff');
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
       url('../fonts/poppins-v20-latin-500.woff') format('woff');
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
       url('../fonts/poppins-v20-latin-700.woff') format('woff');
}

/* VARIABLES */

:root {
  --dark-siyoh: #34313D;
  --siyoh: #3A3054;
  --light-siyoh: #4B3F6B;
  --dmgray: #9E9AA8;
  --light-gray: #EFF1F7;
  --kuk: #2BD0D0;
}

/* GENERAL */

*,
*::before,
*::after {
  box-sizing: inherit;
}


html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
}

/* VISUALLY-HIDDEN */

.visually-hidden  {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1148px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */

.site-main {
  flex-grow: 1;
}